[user]
        name = Ben Burwell
        email = ben.burwell@trifecta.com
        signingkey = ben.burwell@trifecta.com
[credential]
        helper = osxkeychain
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
	excludesfile = /Users/ben.burwell/.gitignore
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[mergetool "metamerge"]
        cmd = metamerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
[alias]
	appraise = !~/Code/bin/git-appraise
