[user]
        name = Ben Burwell
        email = ben@benburwell.com
        signingkey = ben@benburwell.com
[credential]
        helper = osxkeychain
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
	excludesfile = ~/.gitignore
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
[alias]
	appraise = !~/Code/bin/git-appraise
[pull]
	rebase = true
